<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Lifeline: Home</title>
    <link rel="stylesheet" type="text/css" href="{%  static 'styles.css' %}" />
    <link rel="stylesheet" href="{%  static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' %}">
    
</head>

<body>
<header>
    <div class="container">
        <a href = "index.html">
            <img src="{% static 'assets/logo.png' %}" alt="logo" class="logo"> 
        </a>
        <nav>
            <ul>
                <li><a href="index.html"><i class="fa fa-fw fa-home"></i>Home</a></li>
                <li><a href="add.html"><i class="fa fa-fw fa-plus-circle"></i>Add</a></li>
                <li><a href="profile.html"><i class="fa fa-fw fa-user"></i>Profile</a></li>
            </ul>
        </nav>
    </div>
</header>
<h2>Home</h2>
<table id="userMeds">
    <thead>
        <tr>
        <th> Medicine Name </th>
        <th> Directions of Use </th>
        <th> Medicine Schedule </th>
        </tr>
    </thead>
    <tbody>
           <tr>
        <td>{{medicine}}</td>
        <td>{{directions}}</td>
        <td>{{schedule}}</td>
    </tr>
    <tr>
        <td> Medicine Example </td>
        <td> Directions Example </td>
        <td> Schedule Example </td>
    </tr>
    <tr>
        <td> Medicine Example </td>
        <td> Directions Example </td>
        <td> Schedule Example </td>
    </tr>
    <tr>
        <td> Medicine Example </td>
        <td> Directions Example </td>
        <td> Schedule Example </td>
    </tr>
    <tr>
        <td> Medicine Example </td>
        <td> Directions Example </td>
        <td> Schedule Example </td>
    </tr>
    <tr>
        <td> Medicine Example </td>
        <td> Directions Example </td>
        <td> Schedule Example </td>
    </tr>
    <tr>
        <td> Medicine Example </td>
        <td> Directions Example </td>
        <td> Schedule Example </td>
    </tr>
    <tr>
        <td> Medicine Example </td>
        <td> Directions Example </td>
        <td> Schedule Example </td>
    </tr>
    </tbody>
</table>

<!--form class="add-button" action="add.html" method="post">
    <button type="submit">Add Medicine</button>
</form-->
<a href="add.html" class="buttons">Add Medicine</a>

</body>
</html>