<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Lifeline: Logged In</title>
    <link rel="stylesheet" type="text/css" href="{%  static 'styles.css' %}" />
    <link rel="stylesheet" href="{%  static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' %}">
    
</head>

<body>
    {% csrf_token %}
<header>
    <div class="container">
        <a href = "profile.html">
            <img src="{% static 'assets/logo.png' %}" alt="logo" class="logo"> 
        </a>
        <nav>
            <ul>
                <li><a href="index.html"><i class="fa fa-fw fa-home"></i>Home</a></li>
                <li><a href="add.html"><i class="fa fa-fw fa-plus-circle"></i>Add</a></li>
                <li><a href="profile.html"><i class="fa fa-fw fa-user"></i>Profile</a></li>
            </ul>
        </nav>
    </div>
</header>
<h1>You have signed in successfully!</h1>


<!--button type="submit">Save</button>
<form class="modal-content animate" action="login.html" method="post">
    <button type="submit">Logout</button>
</form-->

<a href="" class="profile-buttons">Submit</a>
<a href="login.html" class="profile-buttons">Logout</a>


</body>
</html>
