<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Lifeline: Profile</title>
    <link rel="stylesheet" type="text/css" href="{%  static 'styles.css' %}" />
    <link rel="stylesheet" href="{%  static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' %}">
    
</head>

<body>
<header>
    <div class="container">
        <a href = "">
            <img src="{% static 'assets/logo.png' %}" alt="logo" class="logo"> 
        </a>
        <nav>
            <ul>
                <li><a href="/"><i class="fa fa-fw fa-home"></i>Home</a></li>
                <li><a href="/add"><i class="fa fa-fw fa-plus-circle"></i>Add</a></li>
                <li><a href=""><i class="fa fa-fw fa-user"></i>Profile</a></li>
            </ul>
        </nav>
    </div>
</header>
<h2>Profile</h2>

<label for="fullname">Name:</label>
<input style="width: 300px;" type="text" id="fullname" name="fullname" placeholder="Enter full name">
<br>
<br>


<label for="email">Email address:</label>
<input style="width: 300px;" type="email" id="email" name="email" placeholder="Enter email: johndoe@example.com">
<br>
<br>

<label for="birthday">Birthday:</label>
<input type="date" id="birthday" name="birthday"> 
<br>
<br>

<!--button type="submit">Save</button>
<form class="modal-content animate" action="login.html" method="post">
    <button type="submit">Logout</button>
</form-->

<a href="" class="profile-buttons">Submit</a>
<a href="/login" class="profile-buttons">Logout</a>


</body>
</html>
